/* src/components/Card.css */

  .field-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .field-group p, .field-group input {
    flex: 1;
    margin-right: 10px;
  }
  
  .field-group p:last-child, .field-group input:last-child {
    margin-right: 0;
  }
  
  .field-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }

  .card-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-top: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-Family: monospace;
    color: black;
    box-sizing: border-box;
    background-color:white;
  }
  
  .card-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
    .c-name {
    font-weight: bold;
    margin-right: 10px;
    font-family: monospace;
    white-space: pre;
    margin-left:10px;
    padding-top: 3px;
  }
  
  .toggle-button {
    background-color: #D69684;
    background-color: #2980B9;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .card-extra-details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    color: black;
    border-top:  1px dotted black;
    border-bottom:  2px solid rgb(248, 246, 246);
   
  }
  
  .card-extra-details p {
    margin: 5px 0;
  }
  
  
  